html {
    background-color:#222 !important;
}

body {
    background-color:#222 !important;
}

.bg {
    background-color:#222 !important;

}


.linebreak {
    width:100%;
    word-break:break-all;
    word-warp:break-word;
    white-space:pre-line;

}

.main {
    min-height:100vh;
    background-color:#222 !important;
}



.login_card {
    width:50%;
    margin:0 auto;

}

.card-border {
    border: 1px solid #444 !important;
}

@media only screen and (max-width: 900px) {
    .login_card {
        width:100% !important;
    }
}

.bg_gradient {
    background: rgb(25,12,24);
    background: linear-gradient(25deg, rgba(25,12,24,1) 0%, rgba(113,26,113,1) 65%, rgba(20,1,24,1) 100%);
}


._footer {
    background-color:#121212;
    font-size:0.7rem;
    padding:5rem;

}