{% extends 'base.html' %}
{% load static %}

{% block title%} Naptár {% endblock title%}


{% block content %}

<div class="card text-light p-5 my-3 bg_gradient shadow rounded text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <span class="badge bg-primary text-dark">A következő óráim a feltöltött órarend szerint</span>
            </div>
            <div class="col-lg-auto">
                Utolsó feltöltés: {{neptun_user.uploaded_calendar}}
            </div>
        </div>
    </div>
</div>


<div class="row text-light">
    {% for c in data %}
    <div class="card my-1 bg-dark text-light shadow-lg rounded card-border">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3"><span class="badge bg-secondary"><p class="linebreak">{{c.desc}}</p></div>
                <div class="col-lg-3"><span class="badge bg-secondary">Kezdés:</span> {{c.start}}</div>
                <div class="col-lg-3 text-wrap"><span class="badge bg-secondary">Vége:</span> {{c.end}} | <span class="badge bg-secondary">{{c.get_length}} min</span></div>
                <div class="col-lg-3"><span class="badge bg-primary">{{c.local}}</span></div>
            </div>
        </div>
    </div>


    {% endfor %}
</div>
{% endblock content %}